/************************
Navbar Styles
************************/

/* to ensure image will not go wider than 150px */
#navBar {
  background-color: #171201;
  padding-top: 10px;
}

#brand img {
  width: 150px;
  max-width: 100%;
}


#nav li {
    font-size: 100%;
    font-weight: 500;
    display:inline;
    line-height: 4;
  }

 li:hover {
    border-bottom: solid 3px white;
    -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  }
